{% extends 'header.html' %}

{% block head %}


<title>Housing Estimator</title>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">


        <form action="/predict" method="post">
            <legend>Housing Estimation Form</legend>
            <div class="mb-3">
                <label class="form-label">Longitude</label>
                <input class="form-control" type="text" name="longitude" placeholder="Enter a value of longitude"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">Latitude</label>
                <input class="form-control" type="text" name="latitude" placeholder="Enter a value of latitude"
                    required />

            </div>
            <div class="mb-3">
                <label class="form-label">House Median Age</label>
                <input class="form-control" type="text" name="housing_median_age"
                    placeholder="Enter a value of housing_median_age" />

            </div>
            <div class="mb-3">
                <label class="form-label">Total Rooms</label>
                <input class="form-control" type="text" name="total_rooms" placeholder="Enter a value of total_rooms"
                    required />

            </div>
            <div class="mb-3">
                <label class="form-label">Total Bedrooms</label>
                <input class="form-control" type="text" name="total_bedrooms"
                    placeholder="Enter a value of total_bedrooms" required />
            </div>
            <div class="mb-3">
                <label class="form-label">Population</label>
                <input class="form-control" type="text" name="population" placeholder="Enter a value of population"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">Households</label>
                <input class="form-control" type="text" name="households" placeholder="Enter a value of households"
                    required />
            </div>
            <div class="mb-3">
                <label class="form-label">Median Income</label>
                <input class="form-control" type="text" name="median_income"
                    placeholder="Enter a value of median_income" required />
            </div>
            <div class="mb-3">
                <label class="form-label">Ocean Proximity</label>
                <select class="form-control" name="ocean_proximity" placeholder="Enter a value of ocean_proximity"
                    required>

                    <option value="<1H OCEAN">
                        &lt;1H OCEAN
                    </option>
                    <option value="INLAND">
                        INLAND
                    </option>
                    <option value="NEAR BAY">
                        NEAR BAY
                    </option>
                    <option value="NEAR OCEAN">
                        NEAR OCEAN
                    </option>
                    <option value="ISLAND">
                        ISLAND
                    </option>

                </select>
            </div>
            <div class="mb-3">

                <input class="btn btn-primary" type="submit" value="Predict Median House Value" required />
            </div>

        </form>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">
        <div class="card">
            <div class="card-header">
              California housing price
            </div>
            <div class="card-body">
        {% if context['housing_data'] is not none %}
        <table class="table table-striped">
            <caption>Califoria Housing Prediction </caption>
            <tr>
                <th>Input Feature</th>
                <th>Feature Value</th>

            </tr>
            {% for column,value in context['housing_data'].items() %}



            <tr>
                <td>{{column}}</td>
                <td>{{value[0]}}</td>
            </tr>

            {% endfor %}
            <tr>

                <td>median_house_value </td>
                <td>
                    {{ context['median_house_value'] }}
                </td>
            </tr>
        </table>

        {% else %}
       
              <h5 class="card-title">Submit Form</h5>
              <p class="card-text">Kindly provide necessary information to estimate housing price in california</p>
            
         

        {% endif %}
        Go to <a href="/" class="btn btn-primary">Home</a>
    </div>
</div>
    </div>

    {% endblock %}